<div class="recent-reads">
<script src="https://www.goodreads.com/review/grid_widget/7071685.Now%20reading?cover_size=medium&hide_link=true&hide_title=&num_books=7&order=a&shelf=currently-reading&sort=position&widget_id=1552764228" type="text/javascript" charset="utf-8"></script>
</div>
<div class="clearfix"></div>
<div class="recent-reads">
<script src="https://www.goodreads.com/review/grid_widget/7071685.Up%20next?cover_size=medium&hide_link=true&hide_title=&num_books=8&order=a&shelf=to-read&sort=position&widget_id=1556075028" type="text/javascript" charset="utf-8"></script>
</div>
<div class="clearfix"></div>
<div class="recent-reads">
<script src="https://www.goodreads.com/review/grid_widget/7071685.Recently%20finished?cover_size=medium&hide_link=true&hide_title=&num_books=8&order=d&shelf=read&sort=date_read&widget_id=1552764184" type="text/javascript" charset="utf-8"></script>
</div>
<div class="clearfix"></div>
