      <div id="gr_custom_widget_1541997329">
          <div class="gr_custom_container_1541997329">
    <h2 class="gr_custom_header_1541997329">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/7071685-jeff-brozena?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">now reading</a>
    </h2>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="The Limits to Growth: The 30-Year Update" rel="nofollow" href="https://www.goodreads.com/review/show/2182515569?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Limits to Growth: The 30-Year Update" border="0" src="https://images.gr-assets.com/books/1390169255s/705418.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2182515569?utm_medium=api&amp;utm_source=custom_widget">The Limits to Growth: The 30-Year Update</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/307638.Donella_H_Meadows">Donella H. Meadows</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            economics-and-society and currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="Thinking in Systems: A Primer" rel="nofollow" href="https://www.goodreads.com/review/show/2483453892?utm_medium=api&amp;utm_source=custom_widget"><img alt="Thinking in Systems: A Primer" border="0" src="https://images.gr-assets.com/books/1390169859s/3828902.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2483453892?utm_medium=api&amp;utm_source=custom_widget">Thinking in Systems: A Primer</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/307638.Donella_H_Meadows">Donella H. Meadows</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            systems-thinking-and-complexity and currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="The Complementary Nature" rel="nofollow" href="https://www.goodreads.com/review/show/2489265291?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Complementary Nature" border="0" src="https://images.gr-assets.com/books/1347694094s/3011552.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2489265291?utm_medium=api&amp;utm_source=custom_widget">The Complementary Nature</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/653356.J_A_Scott_Kelso">J.A. Scott Kelso</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            systems-thinking-and-complexity and currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="Namu Dai Bosa" rel="nofollow" href="https://www.goodreads.com/review/show/2368684284?utm_medium=api&amp;utm_source=custom_widget"><img alt="Namu Dai Bosa" border="0" src="https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars" title="it was amazing"><img alt="it was amazing" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2368684284?utm_medium=api&amp;utm_source=custom_widget">Namu Dai Bosa</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/4004069.Shambhala_Publications">Shambhala Publications</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            currently-reading and buddhism
          </div>
      </div>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="Radical Transformational Leadership: Strategic Action for Change Agents" rel="nofollow" href="https://www.goodreads.com/review/show/2442384903?utm_medium=api&amp;utm_source=custom_widget"><img alt="Radical Transformational Leadership: Strategic Action for Change Agents" border="0" src="https://images.gr-assets.com/books/1501503522s/34506407.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2442384903?utm_medium=api&amp;utm_source=custom_widget">Radical Transformational Leadership: Strategic Action for Change Agents</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/4070630.Monica_Sharma">Monica Sharma</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            currently-reading and economics-and-society
          </div>
      </div>
      <div class="gr_custom_each_container_1541997329">
          <div class="gr_custom_book_container_1541997329">
            <a title="Essays in Zen Buddhism, First Series" rel="nofollow" href="https://www.goodreads.com/review/show/2368685570?utm_medium=api&amp;utm_source=custom_widget"><img alt="Essays in Zen Buddhism, First Series" border="0" src="https://images.gr-assets.com/books/1347491395s/841446.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1541997329">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1541997329">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2368685570?utm_medium=api&amp;utm_source=custom_widget">Essays in Zen Buddhism, First Series</a>
          </div>
          <div class="gr_custom_author_1541997329">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/3892325.D_T_Suzuki">D.T. Suzuki</a>
          </div>
          <div class="gr_custom_tags_1541997329">
            tagged:
            currently-reading and buddhism
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Jeff, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/7071685.now%20reading?cover_position=left&cover_size=small&num_books=6&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_updated&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1541997329&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
